<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>Tango with Django</title>
<meta charset=utf8>
<link rel=stylesheet href={% static 'main/css/main.css' %}>
</head>
<body>
<h1>Tango with Django{% block heading %}{% endblock %}</h1>
<div>
{% block content %}{% endblock %}
</div>
<br>
<hr>
<div>
	<ul>
	{% if user.is_authenticated %}
		<li><a href=/rango/restricted/>Restricted Page</a></li>
		<li><a href=/rango/userLogout/>Logout</a></li>
		<li><a href=/rango/addCategory/>Add a New Category</a></li>
	{% else %}
		<li><a href=/rango/register/>Register Here</a></li>
		<li><a href=/rango/userLogin/>Login</a></li>
	{% endif %}
		<li><a href=/rango/about/>About</a></li>
		<li><a href=/rango/>Back to Rango</a></li>
	</ul>
</div>
</body>
</html>